* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

/* END RESET */

@keyframes shake {
  25% {
    transform: translateX(-5px);
  }
  75% {
    transform: translateX(5px);
  }
}

body {
  background: hsl(0, 0%, 17%);
}

#content,
#main-container,
.shake-btn__bg {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#content {
  gap: 40px;
}

#main-container {
  will-change: transform;
  width: 60vmin;
  height: 60vmin;
  background: hsl(0, 0%, 26%);
  flex-wrap: wrap;
  /* margin-top: 10vmin; */
  box-shadow: 0 2px 20px hsla(0, 0%, 0%, 0.6);
}

p {
  color: #fff;
  font-size: 30px;
  font-weight: bold;
  text-align: center;
  padding: 20px;
}

.square {
  border: 1px solid hsl(0, 0%, 17%);
  transition: 5000ms;
}

.square-hover {
  background: hsl(200, 50%, 50%);
  transition: 5ms;
}

#top-nav {
  height: 50px;
  background: hsl(0, 0%, 7%);
  width: 100%;
}

#top-nav p {
  text-align: left;
  transform: translateY(-12px);
}

#shake-btn {
  margin-top: 20px;
  /* margin-left: 50%; */
  /* transform: translateX(-50%); */
  width: 100px;
  height: 50px;
  background: transparent;
  border: none;
  color: hsl(0, 0%, 17%);
}

#shake-btn:hover {
  cursor: pointer;
}

.shake-btn__bg {
  background: hsl(0, 0%, 80%);
  height: 100%;
  width: 100%;
  border: 1px solid #fff;
  will-change: transform;
}

#shake-btn:hover .shake-btn__bg {
  animation-name: shake;
  animation-duration: 350ms;
  animation-iteration-count: infinite;
}

#slider-num {
  width: 60vw;
}

.show {
  display: flex;
}
