* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
}

/* END RESET */

body {
  background: #2b2b2b;
}

#content,
#main-container,
#top-nav
{
  display: flex;
  justify-content: center;
  align-items: center;
}

#main-container {
  width: 90vmin;
  height: 90vmin;
  background: #5b5b5b;
  flex-wrap: wrap;
  margin-top: 1vmin;
}

p {
  color: #fff;
  font-size: 30px;
  font-weight: bold;
  text-align: center;
  padding: 20px;
}

.square {
  border: 1px solid #2b2b2b;
  transition: 5000ms 5000ms;
}

.square-hover {
  background: hsl(200, 50%, 50%);
  transition: 5ms;
}

#top-nav {
  height: 50px;
  background: #000;
  width: 100%;
  justify-content: left;
}

#top-nav p {
  flex: 3;
  text-align: left;
}

#top-nav div {
  flex: 4;
}

#create-btn {
  padding: 5px 20px;
  background: none;
  border: 1px solid #fff;
  color: #ccc;
}

#create-btn:hover {
  color: #fff;
  cursor: pointer;
}

.show {
  display: flex;
}